---
# Only the main Sass file needs front matter (the dashes are enough)
---
$link-color: #66CDAA;

a:hover{text-decoration:none}

.greedy-nav a:before {
  background: mix(#fff, #66CDAA, 50%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
