---
layout: archive
---

<h1 About me</h1>
<p>I am a microbial ecologist with a passion for data science.
  Currently, I am a Postdoctoral Fellow between the National Institute of Scientific Research (INRS)
  and the data analytics & visualization company <a href="https://plotly.com/">Plotly</a>.
  My research aims at finding microbial solutions to combat drought in agriculture
  for which I am combining Omic technologies with interactive
  data visualization tools in <a href="https://medium.com/plotly/announcing-dash-for-r-82dce99bae13">Dash for R</a> and Python.</p>

<p>I conducted my graduate studies at the Technical University of Graz, Austria where I received a Master’s degree
   in Biotechnology for developing microbial consortia as sustainable alternative to pesticides in collaboration with Egypt’s first organic agricultural organization SEKEM.
   I then moved to the Netherlands to do my PhD at the Netherlands Institute of Ecology with in conjunction with Wageningen University
   where I studied the volatile language between microorganisms.</p>  
