---
layout: archive
---

<h1>About me</h1>

<p>I am a microbial ecologist & data scientist in the making.
  At the moment, I am a Postdoctoral Fellow between the National Institute of Scientific Research (INRS)
  and the data analytics & visualization company <a href="https://plotly.com/">Plotly</a>.
  My research combines Omic technologies with data visualization tools
  in <a href="https://medium.com/plotly/announcing-dash-for-r-82dce99bae13">Dash for R</a> and Python to
  look for microbes that can help combat drought in agriculture and other environmental issues. </p>

<p>I conducted my graduate studies at the Technical University of Graz, Austria where I received a Master’s degree
   in Biotechnology for developing microbial consortia as sustainable alternative to pesticides together with
   Egypt’s first organic agricultural organization SEKEM. I then moved to the Netherlands to do my PhD at the Netherlands
   Institute of Ecology & Wageningen University
   where I looked at the volatile language between microorganisms in the context of plant health.</p>

<p>Apart from dealing with data and microbes, I am passionate about bridging arts & science and making science more
  inclusive and accessible for which I have been active in organization including
  <a href="https://500womenscientists.org/">500 Women Scientists</a>, the <a href="https://qcbs.ca/">Quebec Center for
    Biodiversity Science (QCBS)</a> and the <a href="https://www.isme-microbes.org/">International Society for Micrbial Ecology (ISME)
    </a>.</p>
